code, 
snippet {
	font-family: monospace;
	white-space: pre;
	background-color: #F4F4F4;
	color: #070;
}

snippet {
	display: inline;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	font-weight: bold;
}

code {
	display: block;
	padding-left: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	border: thin dashed gray;
}

.answer code {
	margin-top: 0;
	padding-right: 1em;
}

code strong, 
snippet strong {
	color: black;
}

#questions {
	z-index: -1;
}

#questions .answers {
	list-style-type: upper-alpha;
	border-bottom: thin solid gray;
	padding-bottom: 1em;
}

#questions .answer {
	margin: 0.25em;
}

#questions .answers.declined {
	color: darkgray;
}

#questions .question {
	margin: 1em;
	border: thin gray solid;
	padding: 1em;
	page-break-inside:avoid;
}

#questions .decline {
	margin-top: 1em;
	font-style: italic;
}

#questions .question .text {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: thin gray solid;
}

#questions .question .instruction {
	font-style: italic;
}

#key .correct {
	color: darkgreen;
}

#key .incorrect {
	color: darkred;
}

#key .score {
	font-weight: bold;
	font-size: +1.2em;
	text-align: center;
}

#key .answers {
	text-align: right;
	margin-right: 2em;
}

#key .question_type {
	text-align: center;
}

#key tr {
	border-bottom: thin black solid;
}

.review {
	color: red;
}

.question .review {
	font-style: italic;
	text-align: right;
	position: relative;
	float: right;
	top: -1em;
	left: 0.8em;
}

.answer section {
	display: inline-table;
}

#name {
	font-style: italic;
	font-size: 2em;
	font-weight: bold;
	margin: 1em;
	padding: 1em;
	text-align: center;
}

#intro {
	font-family: sans-serif;
	
	box-shadow: 1em 1em 1em 0em rgba(0, 0, 0, 0.6);
	border-radius: 1em;
	
	position: fixed;

	text-align: center;
	border: thick #555 solid;
	
	background-color: white;
	
	padding: 2em;
	
	top: 0;
	left: 50%;
	width: 60em;
	height: 24em;
	margin-top: 5em;
	margin-left: -32em;
	
	z-index: 99;
}

#intro.min {
	box-shadow: 0.25em 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.4);
}

#intro.min .contents {
	display:none;
}

#overlay {
	z-index: 50;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

@media print {
	body {
		zoom: 85%;
	}
	#intro, #overlay {
		display: none;
	}
}

