
.level {
	float: left;
	position: relative;
	height: 15em;
}

.level_result {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.level_score {
	border: thin black solid;
}

.correct {
	background-color: green;
}

.incorrect {
	background-color: red;
}

.partial {
	background-color: yellow;
}

#questions {
	clear: both;
	width: 32em;
}

#questions table {
	border-collapse: collapse;
}

#questions tr {
	border-top: 2px gray solid;
}

#questions tr:first-child {
	border-top: none;
}

#questions th {
	vertical-align: top;
}

#questions td {
	text-align: center;
}

#questions th,
#questions td {
	border-left: 1px gray solid;
	width: 16%;
}

#questions th:first-child,
#questions td:first-child {
	border-left: none;
}

.subBarslevels {
	font-weight: bold;
}

.graphBarlevels,
.legendBarlevels {
	border: 2px gray solid;
}

.graphValuelevels {
	display: none;
}

.Correct {
	background-color: green;
	color: white;
}

.Incorrect {
	background-color: red;
	color: white;
}

.Partial {
	background-color: yellow;
	color: black;
}

.Declined {
	background-color: white;
	color: black;
	
	background-size: 12px 12px;
	background-image: linear-gradient(
		-45deg, 
		#EEE 25%, 
		transparent 25%, 
		transparent 50%, 
		#EEE 50%, 
		#EEE 75%, 
		transparent 75%, 
		transparent);
}
